#header{
    width: 1000%;
    height: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#header,#header-links-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    font-size: 15px;
}
#header-links-container{
    gap: 10px;
}

h2#header-logo{
    color: rgb(142,142,147);
    margin-left: 10px;
}
.header-link:hover{
    cursor: pointer;
    color: rgb(142,142,147);
    transition: 0.2s;
}
.header-link{
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}